body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Hero container houses the header and website introduction */
.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 700px;
    flex-shrink: 0;
}

/* Houseing for logo and links */
.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.logo {
    padding: 20px;
    margin-left: 40px;
}

/* Styled and removed bullets from list */
.right-links {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    display: flex;
    gap: 20px;
}

/* Removed the underlines and changed colour of links */
.right-links a {
    color: lightgrey;
    text-decoration: none;
}

/* Website intro container for image and text */
.intro {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    align-items: center;
    gap: 40px;
}

/* Set up intro card so it would distort when page is shrunken */
.intro-card {
    display: flex-start;
    flex-direction: column;
    max-width: 350px;
    flex-shrink: 0;
}

/* Set image size */
.intro img {
    max-width: 550px;
}

/* Styled title */
.intro-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding-bottom: 20px;
}

/* Styling for text */
.intro-text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 20px;
}

/* Styling for all buttons on landing page */
.sign-up {
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
}

/* Info with image and little text explanation container */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px
}

/* Container for Title */
.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 30px;
}

/* Container for image and explanation underneath */
.image-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
    flex-shrink: 0;
}

/* Made the info cards have a uniform size */
.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

/* Set image size to follow card size and rounded edges*/
.card img {
    max-width: 100%;
    max-height: 100%;
    border: 4px solid #3882F6;
    border-radius: 30px;
}

/* Centered text underneath image */
.text {
    text-align: center;
    padding-top: 20px;
}

/* Container for quote */
.quote {
    background-color: #E5E7EB ;
    display: flex;
    justify-content: center;
    padding: 75px;
}

/* Parent card holds the quote-text and name */
.quote-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quote-name {
    align-self: flex-end;
    font-weight: bolder;
    color: #1F2937;
}

/* Call to action container */
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background for call to action text and button */
.action-back {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 130px;
    width: 800px;
    margin: 80px;
    padding: 0px 100px;
}

.call-to {
    font-size: 24px;
    color:white;
}

.call-to-sub {
    color: lightgray;
}

/* Same sign-up class button but with white border */
.action-back button {
    border: 2px solid white;
}

/* Footer matches colour with hero */
.footer {
    background-color: #1F2937;
    color: #d3d3d3;
    font-size: small;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}